[MASTER]
max-line-length=120
extension-pkg-allow-list=cupy

[MESSAGES CONTROL]
disable=
    import-error,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    no-name-in-module,
    too-many-instance-attributes,
    too-many-locals,
    too-many-arguments,
    too-many-positional-arguments,
    too-few-public-methods,
    invalid-name,
    wrong-import-order,
    wrong-import-position,
    line-too-long,
    trailing-whitespace,
    import-outside-toplevel,
    duplicate-code,
    unused-variable,
    c-extension-no-member,
    too-many-statements
